.scrollable-tabs-container{
    /* font-family: 'Roboto', sans-serif; */
    background-color: #fff;
    box-shadow: 2px 2px 2px #2d673427;
    /* max-width: 750px; */
    margin: 20px auto 30px auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.scrollable-tabs-container i{
    /* width: 24px; */
    /* height: 24px; */
    /* font-size: 22px; */
    padding: 8px;
    cursor: pointer;
    color: #2d6734;
    border-radius: 50%;
    transition: all;
    transition-duration: 200ms;
    pointer-events: auto;
}
.scrollable-tabs-container i:hover{
    background: #2d673427;
}
.scrollable-tabs-container ul{
    width: 100%;
    display: flex;
    gap: 18px;
    padding: 12px 24px;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    /* justify-content: center; */
}
.scrollable-tabs-container ul.dragging{
    scroll-behavior: auto;
}
.scrollable-tabs-container ul.dragging li{
    pointer-events: none;
}
.scrollable-tabs-container ul::-webkit-scrollbar{
    display: none;
}
.scrollable-tabs-container li{
    color: #2d6734 !important;
    text-decoration: none;
    background-color: #2d673427;
    padding: 4px 20px;
    display: inline-block;
    border-radius: 4px;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
}
.scrollable-tabs-container li.active{
    transition: all;
    transition-duration: 200ms;
    background-color: #2d6734;
    color: #fff !important;
}
.scrollable-tabs-container .left-arrow,
.scrollable-tabs-container .right-arrow{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
    text-align: center;    
    z-index: 1000;
}
.scrollable-tabs-container .left-arrow i,
.scrollable-tabs-container .right-arrow i{
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.scrollable-tabs-container .left-arrow.active,
.scrollable-tabs-container .right-arrow.active{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.scrollable-tabs-container .right-arrow{
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(to left, #fff 50%, transparent);
}
.scrollable-tabs-container .left-arrow{
    background: linear-gradient(to right, #fff 50%, transparent);
}