:root {
  --clr-primary-800: #ddd;
  --clr-primary-400: #fff;
  --clr-primary-box-shadow: black;
}

h1 {
  text-align: center;
}

.members-body {
  display: grid;
  margin: 0;
  /* min-block-size: 100vh; */
  place-content: center;
  font-family: system-ui;
  /* font-size: 1.125rem; */
  /* background-color: var(--clr-primary-800); */

  /* border: 2px solid green; */
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 0.5rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  /* box-shadow: 0 0.5rem 1 rem -0.25rem var(--clr-primary-box-shadow); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tag-list li img{
  width: 250px;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}
.tag-list .member-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  margin-top: 10px;
  /* border: 1px solid red; */
}
.tag-list .member-info h4{
  color: #2E6734;
  font-size: 20px;
}
.tag-list .member-info p{
  color: #2E6734;
  font-size: 18px;
  margin-bottom: 0px;
}

/* .scroller {
  max-width: 60vw;
} */

.scroller__inner {
  display: flex;
  gap: 1rem;
  /* padding-block: 1rem; */
  padding-bottom: .5rem;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: 
    scroll 
    var(--animation-duration, 40s) 
    var(--animation-direction, forwards) 
    linear 
    infinite;
}

.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}

.scroller[data-animated="true"] .scroller__inner li {
  filter: grayscale(1);
}

.scroller[data-animated="true"] .scroller__inner li:hover {
  filter: grayscale(0);
}

.scroller[data-direction="left"] {
  --animation-direction: forwards;
}

.scroller[data-direction="right"] {
  --animation-direction: reverse;
}

.scroller[data-speed="slow"] {
  --animation-duration: 120s;
}

.scroller[data-speed="default"] {
  --animation-duration: 80s;
}

.scroller[data-speed="fast"] {
  --animation-duration: 60s;
}

@keyframes scroll {
  to {
    /* remove calc gap to prevent jump */
    transform: translateX(calc(-50% - .5rem));
  }
}

@keyframes jump {
  0%, 40%, 80%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-2px);
  }
}